@font-face {
  font-family: 'SF Pro Display';
  src: url('@assets/fonts/SF-Pro-Display-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('@assets/fonts/SF-Pro-Display-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('@assets/fonts/SF-Pro-Display-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('@assets/fonts/SF-Pro-Display-Black.woff') format('woff');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
