@import './fonts.scss';
@import './normalize.scss';

body {
  font-size: 16px;
  font-family: 'SF Pro Display';
}

#root {
  overflow-x: hidden;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
