.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;

  & > .title {
    position: relative;
    overflow-x: hidden;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.2rem;

      transform: translateX(-100%);
      transition: transform 200ms ease-in-out;
      background-color: #c50140;
    }
  }

  &:hover > .title::after {
    transform: translateX(0);
  }
}

.title {
  font-size: 1rem;
  font-weight: 800;
  line-height: 150%;
  white-space: nowrap;
  color: #2a2a2a;
  text-transform: uppercase;
  & > b {
    color: #c50140;
  }
}

.removeMargins {
  margin-left: 0;
  margin-right: 0;
}
