.details {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 2fr repeat(3, 1fr);
  margin-left: 6.8rem;
  gap: 1rem;

  & h4 {
    font-weight: 400;
    font-size: 0.875rem;
    color: #bbbbbb;
  }

  & p {
    white-space: normal;
    font-size: 1rem;
    color: #565555;
  }

  & > div:first-child {
    grid-row: 1 / 4;
  }
}
