.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;

  width: fit-content;
  padding: 0.1rem 0.3rem;

  border-radius: 6px;
  color: #fff;

  font-weight: 500;
  font-size: 0.8rem;
  line-height: 100%;

  user-select: none;
}

.remove {
  width: 0.6rem;
  height: 0.6rem;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
}

.violet {
  background-color: #5241bf;
}

.teal {
  background-color: #41bfb0;
}
