.list {
  width: 100%;
  display: flex;
}

.row {
  flex-wrap: wrap;
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.gap {
  &_extrasmall {
    gap: 0.25rem;
  }

  &_small {
    gap: 0.5rem;
  }

  &_medium {
    gap: 1.25rem;
  }
}
