.button {
  border: none;
  background-color: transparent;

  transition: color 100ms ease-in;
  gap: 0.4rem;

  color: $gray-c;

  &:hover {
    color: #0085ff;
  }

  & > svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  & > p {
    font-weight: 500;
    font-size: 1rem;
  }
}
