@mixin dappletItem {
  background: linear-gradient(
      180deg,
      rgba($white-c, 0.2) 0%,
      rgba($white-c, 0) 100%
    ),
    rgba($white-c, 0.1);
  box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.1);

  border-radius: 10px;
  border: 1px solid #fff;

  transition: background 200ms ease-in;

  &:hover {
    background: linear-gradient(
        180deg,
        rgba($white-c, 0.2) 0%,
        rgba($white-c, 0) 100%
      ),
      rgba($accent-c, 0.1);
  }
}

.item {
  @include dappletItem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  padding: 0.875rem 1.25rem;
}

.dapplet {
  display: grid;
  gap: 1.25rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1.125rem 3.125rem 2fr 2fr 1fr 1fr 1fr;

  align-items: center;

  & > * {
    overflow: hidden;
  }
}

.isExpanded {
  grid-template-rows: 4.625rem auto;
}
