.item {
  border: none;
  background-color: transparent;

  width: 100%;
  justify-content: flex-start;
  padding: 1rem 0;

  font-size: 1rem;
  line-height: 150%;
  color: #565555;

  &:hover {
    color: #0085ff;
    text-shadow: 0 0 1rem rgba(#0085ff, 0.8);
  }

  & > svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.active {
  color: #0085ff;
  text-shadow: 0 0 1rem rgba(#0085ff, 0.8);

  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1.5rem;
    width: 4px;
    height: 100%;
    background-color: #0085ff;
    box-shadow: -0.2rem 0 1rem 0.15rem rgba(#0085ff, 0.5);
  }
}

.isNotExpanded {
  justify-content: center;

  &::after {
    right: 0;
  }
}
