$base-color: transparent;
$shine-color: #0085ff;
$animation-duration: 500ms;

@keyframes shine {
  100% {
    transform: translateX(100%);
  }
}

.box {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-color: $base-color;

  width: 100%;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba($shine-color, 0) 10%,
      rgba($shine-color, 0.1) 40%,
      rgba($shine-color, 0.2) 60%,
      rgba($shine-color, 0) 90%
    );
    animation: shine $animation-duration infinite;
  }
}
