.menu {
  @include card;
  @include scrollable;
  width: 6.25rem;
  gap: 1.5rem;
  padding: 4.75rem 0;

  align-items: center;
}

.isExpanded {
  width: 20rem;
  align-items: flex-start;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  & > *:first-child {
    margin-bottom: 2rem;
  }
}
