@mixin scrollable {
  overflow-y: scroll;
  // overflow-y: hidden;
  scroll-behavior: smooth;

  &:hover,
  &:active,
  &:focus {
    // padding-right: 0;
    // -webkit-padding-end: 0;
    &::-webkit-scrollbar-thumb {
      background-color: rgba($accent-c, 0.5);
    }
    //firefox
    scrollbar-color: rgba($accent-c, 0.5) transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
  }
  //firefox
  scrollbar-color: transparent;

  //chrome
  &::-webkit-scrollbar {
    width: 0.4rem;
  }
}

@mixin blurBackground {
  background: linear-gradient(
    180deg,
    rgba(185, 251, 255, 0.2) 0%,
    rgba(227, 220, 255, 0.2) 100%
  );
  backdrop-filter: blur(10px);
}

@mixin card {
  @include blurBackground;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #fff;
}
