.welcome {
  background-image: url('@assets/images/welcome-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &_card {
    @include card;

    padding: 2.5rem;
    border-radius: 10px;
    max-width: 760px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;

    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    color: $white-c;

    & > * {
      width: 100%;
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &_footer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &_heading {
    font-weight: 800;
    font-size: 3rem;
    line-height: 100%;
    text-transform: uppercase;
    max-width: 500px;
  }

  &_logo {
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 0.75rem;
    line-height: 150%;
    text-transform: uppercase;

    &:after {
      content: '.';
      color: $red-c;
    }
  }

  &_button {
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: uppercase;

    padding: 0.5rem 1.25rem;
    border-radius: 10px;
    border: 1px solid $white-c;

    transition: all 150ms ease-in;

    &:hover {
      border-color: $red-c;
      background-color: $red-c;
    }
  }
}

@media screen and (max-width: 750px), (max-height: 450px) {
  .welcome {
    &_card {
      width: 100%;
      min-width: 100vw;
      height: 100%;
      min-height: 100vh;
      border: none;
      border-radius: 0;
    }
    &_header {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 450px) {
  .welcome {
    &_heading {
      font-size: 1.5rem;
    }
  }
}
