.header {
  @include card;
  width: 100%;
  height: 3rem;

  border-bottom: none;
  border-left: none;
  border-right: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}
