.desktop {
  background-color: $white-c;
  background-image: url('@assets/images/bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;

  display: grid;
  grid-template-areas:
    'menu header settings'
    'menu main settings'
    'menu main settings';
  grid-auto-columns: minmax(6.25rem, auto) minmax(auto, 1fr) minmax(0, auto);

  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;

  white-space: nowrap;
}
