.title {
  font-weight: 600;
  font-size: 1rem;
  color: #2a2a2a;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  font-size: 0.875rem;
  color: #999999;
}

.description {
  height: 2.4rem;
  line-height: 1.2rem;
  font-size: 1rem;
  color: #565555;
  white-space: normal;
}

.author {
  font-size: 0.875rem;
  color: #bbbbbb;
}
