.reload {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  min-height: 4rem;
  cursor: pointer;

  & > p {
    display: inline-flex;
    color: #c50140;
  }

  & > svg {
    transition: all 200ms ease-in;
    fill: #c50140;
  }

  &:hover {
    & > svg {
      fill: #0085ff;
    }
  }
}
